/.DS_Store
/api/target/
/api/.env
/ui/.env
/ui/.env.local
/ui/node_modules/
/ui/.vite/
/ui/.next/
/ui/build/
/ui/dist/
/ui/coverage/
/resources/.terraform/
/resources/environments/**/terraform.tfvars
/resources/terraform.tfstate*
