/.DS_Store
/web/api/target/
/web/api/.env
/web/ui/.env
/web/ui/.env.local
/web/ui/node_modules/
/web/ui/.vite/
/web/ui/.next/
/web/ui/build/
/web/ui/dist/
/web/ui/coverage/
/web/resources/.terraform/
/web/resources/environments/**/terraform.tfvars
/web/resources/terraform.tfstate*
