# OS
.DS_Store

# Node
node_modules/

# Rust
/web/api/target/

# Environment / Secrets
.env
.env.local
**/GoogleService-Info.plist

# React (Vite)
/web/ui/.vite/
/web/ui/.next/
/web/ui/build/
/web/ui/dist/
/web/ui/coverage/

# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
/web/resources/environments/**/terraform.tfvars

# Security scan
/trivy-results.sarif

# Xcode
/iOS/spot-diggz.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcuserstate
