sdz_project_id         = "sdz-dev"
sdz_stage              = "dev"
sdz_region             = "asia-northeast1"
sdz_firestore_location = "asia-northeast1"
sdz_storage_bucket     = "sdz-dev-img-bucket"
sdz_ui_bucket          = "sdz-dev-ui-bucket"
sdz_api_image          = "asia-northeast1-docker.pkg.dev/sdz-dev/sdz-dev-api/sdz-api:latest"
sdz_auth_project_id    = "sdz-dev"
sdz_use_firestore      = true
sdz_firestore_project_id = "sdz-dev"
sdz_storage_service_account_email = "sdz-dev-api-sa@sdz-dev.iam.gserviceaccount.com"
sdz_storage_signed_url_expires_secs = 900
sdz_cloudbuild_source_bucket = "sdz-dev_cloudbuild"

sdz_enable_wif       = true
sdz_wif_pool_id      = "sdz-github-pool"
sdz_wif_provider_id  = "github-provider"
sdz_github_repository = "uechikohei/spot-diggz"
sdz_github_ref       = "refs/heads/develop"

sdz_web_app_display_name = "sdz-fb-dev"
sdz_ui_public_members  = ["domain:321dev.org"]
sdz_media_public_members = ["allUsers"]
sdz_enable_cloud_run   = false
sdz_cors_allowed_origins = "https://storage.googleapis.com,https://sdz-dev-ui-bucket.storage.googleapis.com,http://localhost:3000"

# iOS/Androidは必要になったら設定する
# sdz_android_package_name = "com.example.spotdiggz"
# sdz_ios_bundle_id        = "org.example.spotdiggz"
